 html, body {width:100%; height:100%; padding: 0; margin: 0;}
      #map {width: 100%; /*height:100%;*/ position: absolute; top: 0px; bottom: 0px; background: black; z-index:99;}
       .leaflet-top .leaflet-control {
margin-top: 14px;
/*margin-left: 400px;*/
              margin-left: auto;
    margin-right: auto;
    width: 100%;
}
           #layer_selector {
        position: absolute;
        bottom: 50px;
        left: 20px;
        padding: 0;
      }
 
      #layer_selector ul {
        padding: 0; margin: 0;
        list-style-type: none;
          text-align: center;
      }
 
      #layer_selector li {
    border: 2px solid #999;
          padding: 15px 30px;
          font-family: "Helvetica", Arial;
        font-size: 18px;
          font-weight: bold;
        color: #444;
        cursor: auto;
                 text-shadow: 2px 2px 30px #fff;

      }
         #layer_selector li.sat {
        padding: 15px 30px;

        cursor: auto;
        background-image: url("http://jossphilippe.webfactional.com/NPO_map/images/satellite.png");
      }
              #layer_selector li.streets {
        padding: 15px 30px;

        cursor: auto;
        background-image: url("http://jossphilippe.webfactional.com/NPO_map/images/streets.png");
      }
 
 
      #layer_selector li:hover {
    border: 2px solid #444;
          cursor: pointer;
      }
 
      #layer_selector li.selected {
        background-color: #EEE;
      }
      div.cartodb-popup div.cartodb-popup-content {max-height:none | inherit}
